body {
    
    background-color: gray;
    
}

#myHeader {
    
    font-family: 'Comic Sans MS', cursive;;
    text-align: center;
    color:darkcyan
    
}

#p1 {
    
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    font-size: 21px;
    color: darkslategrey;
    
}

#p2 {
    
    color: darkslategrey;
    text-align: center
        
}